:root {
    --color-text-base: ;
    --color-text-inverted: ;
    --color-background-base: ;
    --color-background-inverted: ;
}

/* primary, inverted, muted, danger, success */

[data-theme="default"] {
    --color-text-base: ;
    --color-text-inverted: ;
    --color-background-base: ;
    --color-background-inverted: ;
}

[data-theme="dark"] {
    --color-text-base: ;
    --color-text-inverted: ;
    --color-background-base: ;
    --color-background-inverted: ;
}

body.resume > header {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 15em;
}

body.resume > header div {
    flex: 3 0 100%;
}