:root {
    --code-font: monospace;
    --text-font: Arial, Helvetica, sans-serif;
    --text-size: 16px;
    --text-color: black;
    --background-color: white;
}

body {
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: var(--background-color);
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

li {
    font-family: var(--code-font);
}

#date {
    font-size: .5rem;
    font-style: italic;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #dedede;
        --text-color: #080808;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #080808;
        --text-color: #dedede;
    }
}